<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2 th:text="#{page.members}">회원 목</h2>
    </div>

    <!--    <div class="row">-->
    <!--        <div class="col">-->
    <!--            <button class="btn btn-primary float-end"-->
    <!--                    onclick="location.href='addForm.html'"-->
    <!--                    th:onclick="|location.href='@{/items/add}'|"-->
    <!--                    type="button" th:text="#{page.addItem}">상품 등록</button>-->
    <!--        </div>-->
    <!--    </div>-->

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.member.id}">ID</th>
                <th th:text="#{label.member.name}">상품명</th>
                <th th:text="#{label.member.age}">가격</th>
                <th th:text="#{label.member.role}">가격</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td><a href="post.html" th:href="@{/members/{memberId}(memberId=${member.id})}" th:text="${member.id}">회원 id</a></td>
                <td><a href="post.html" th:href="@{|/members/${member.id}|}" th:text="${member.name}">상품명</a></td>
                <td th:text="${member.age}">10000</td>
                <td th:text="${member.role}">10000</td>

            </tr>
            </tbody>
        </table>

        <div class="col">
            <form th:action="@{/home}" method="get">
                <button class="w-100 btn btn-dark btn-lg" onclick="location.href='members.html'" type="submit">
                    뒤로 가기
                </button>
            </form>
        </div>
    </div>

</div> <!-- /container -->

</body>
</html>